<%layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Hotel</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control"type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <!-- <input type="file" name="image" id="" multiple> -->
            <!-- <div class="mb-3">
                <label class="form-label" for="image">image url</label>
                <input class="form-control"type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Hotel Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                <div class="valid-feedback">
                    looks good!
                </div>  
            </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description url</label>
                <textarea class="form-control"type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="mt-3 mb-5 custom-file">
                    <input type="file" class="form-control" id="image" name="image" multiple>
                    <label for="image" class="form-label custom-file-label"><b>Choose Images</b></label>
                    <label for="image" class="custom-form-label text-muted"></label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Add Hotel</button>
            </div>
            
        </form>
        <a href="/campgrounds">All Hotels</a>
    </div>
</div>


